/*.container {
	width: 100%;
}

*/
.input-container {
	vertical-align: top;
}

h2 {
	color: maroon;
}


button {
	border: 2px solid white;
	background-color: tomato;
	opacity: 60%;
}

ng-click {
	font-color: white;
}

a {
    color: maroon;
    text-decoration: none;
    cursor: auto;
    opacity: 10%;
}
